body{
    background-color: black;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}
.write{
    height: 50vh;
    width: 25vw;
    background-color: red;
    margin-top: 20vh;
    margin-left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.content{
    height: auto;
    width: 30vw;
    background-color: blue;
    margin-top: 20vh;
    margin-right: 10vw;
    
}
.items{
    margin-left: 2vw;
}
.content img{
    height: 5vh;
    width: 3vw;
    margin-right: 2vw;
    cursor: pointer;
}
.content h2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content h4{
    display: flex;
    align-items: center;
    margin: 0;
}

.content .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 92%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    width: 82.6%;
  }
  ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}
.row{
    display: flex;
    align-content: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-left:20px;
    margin-right:20px ;
    margin-bottom: 25px;
}
#search{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
#add{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    cursor: pointer ;
    border-radius: 40px;}